<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/incomeandexpenses">
            <img src="../../assets/euro_symbol.png">
            Income and expenses <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/monthlybudget">
            <img src="../../assets/file_copy.png">
            My budgets
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/timeperiod">
            <img src="../../assets//access_time.png">
            Date range
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Income and expenses</h1>
    </div>
    
    <p>If the billing
      interval is less than a month, then change the amount to the monthly cost by dividing the
      normal invoice amount by the billing interval, i.e. if the water bill is charged every 6 months, divide the
      expected amount by 6.</p>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="food">Food</label>
        <input [(ngModel)]="budget.food" type="number" class="form-control" id="food" placeholder="Enter food">
        <small id="foodHelp" class="form-text text-muted">All food costs in a budget. Includes going to the grocery
          store
          and eating at work place, school, restaurants etc.</small>
      </div>
      <div class="form-group col-md-6">
        <label for="drinks">Drinks</label>
        <input [(ngModel)]="budget.drinks" type="number" class="form-control" id="drinks" placeholder="Enter drinks">
        <small id="drinksHelp" class="form-text text-muted">All drink expenses in a month coming from coffee,
          alcohol, juices, soda etc.
          Water bill can be added to the "mandatory bills" category.</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="housing">Housing</label>
        <input [(ngModel)]="budget.housing" type="number" class="form-control" id="housing" placeholder="Enter housing">
        <small id="housingHelp" class="form-text text-muted">Rents and other housing costs that do not fit into
          other sections.</small>
      </div>
      <div class="form-group col-md-6">
        <label for="mandatory">Mandatory bills</label>
        <input [(ngModel)]="budget.mandatory" type="number" class="form-control" id="mandatory" placeholder="Enter mandatory">
        <small id="foodHelp" class="form-text text-muted">Electricity bills, water bills, telephone bills and so on.
        </small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="loans">Loans and installments</label>
        <input [(ngModel)]="budget.loans" type="number" class="form-control" id="loans" placeholder="Enter loans">
        <small id="loansHelp" class="form-text text-muted">The total monthly amount of all loans, installments and
          similar expenses.</small>
      </div>
      <div class="form-group col-md-6">
        <label for="travel">Travel</label>
        <input [(ngModel)]="budget.travel" type="number" class="form-control" id="travel" placeholder="Enter travel">
        <small id="travelHelp" class="form-text text-muted">Fuel, buss tickets, travel cards and so on.</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="clothing">Clothing</label>
        <input [(ngModel)]="budget.clothing" type="number" class="form-control" id="clothing" placeholder="Enter clothing">
        <small id="clothingHelp" class="form-text text-muted">Average amount of clothing and accessories per
          budget.</small>
      </div>
      <div class="form-group col-md-6">
        <label for="insurances">Insurances</label>
        <input [(ngModel)]="budget.insurances" type="number" class="form-control" id="insurances" placeholder="Enter insurances">
        <small id="insurancesHelp" class="form-text text-muted">Average amount of insurances payments per
          month.</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="netflix">Monthly paid programs and services</label>
        <input [(ngModel)]="budget.netflix" type="number" class="form-control" id="netflix" placeholder="Enter monthly paid services">
        <small id="netflixHelp" class="form-text text-muted">For example, Spotify, Netflix and so on.</small>
      </div>
      <div class="form-group col-md-6">
        <label for="hobby">Hobby</label>
        <input [(ngModel)]="budget.hobby" type="number" class="form-control" id="hobby" placeholder="Enter hobby">
        <small id="hobbyHelp" class="form-text text-muted">For example, the price of a gym card per budget.</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="other">Other expenses</label>
        <input [(ngModel)]="budget.other" type="number" class="form-control" id="other" placeholder="Enter other expenses">
        <small id="otherHelp" class="form-text text-muted">Add those expenses to this section you can't place
          anywhere else. For example,
          toiletries, tobacco products and so on.</small>
      </div>
      <div class="form-group col-md-6">
        <label for="income">Income</label>
        <input [(ngModel)]="budget.income" type="number" class="form-control" id="income" placeholder="Enter income">
        <small id="incomeHelp" class="form-text text-muted">Total income remaining after taxes and other possible
          deductions
          (eg withdrawal). Salaries, benefits, subsidies, weekly wages, etc.</small>
      </div>
    </div>

    <button (click)="save()" type="button" class="btn btn-primary">Save</button>
    <br><br>

  </main>
</div>