<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/incomeandexpenses">
            <span data-feather="home"></span>
            Income and expenses <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/monthlybudget">
            <span data-feather="file"></span>
            Monthly budget
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/timeperiod">
            <span data-feather="shopping-cart"></span>
            Time period
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Income and expenses</h1>
    </div>

    <h3>Food costs in a month</h3>
    <p class="lead">All food costs in a budget. Includes going to the grocery store
      and eating at work place, school, restaurants etc.</p>
    <div class="form-group">
      <input type="range" [(ngModel)]="budget.food" class="form-control-range slider" min="1" max="5000" id="foodinput"
        oninput="foodoutput.value = foodinput.value">
      <output id="foodoutput">{{ budget.food }}</output>€
    </div>

    <h3>Drink costs in a month</h3>
    <p class="lead">All drink expenses in a month coming from coffee, alcohol, juices, soda etc.
      Water bill can be added to the "mandatory bills" category.</p>
    <div class="form-group">
      <input type="range" [(ngModel)]="budget.drinks" class="form-control-range slider" min="1" max="5000" value="50" id="drinkinput"
        oninput="drinkoutput.value = drinkinput.value">
      <output id="drinkoutput">{{ budget.drinks }}</output>€
    </div>

    <h3>Housing costs in a month</h3>
    <p class="lead">Rents and other housing costs that do not fit into other sections.</p>
    <div class="form-group">
      <input type="range"  [(ngModel)]="budget.housing" class="form-control-range slider" min="1" max="5000" value="50" id="housinginput"
        oninput="housingoutput.value = housinginput.value">
      <output id="housingoutput">{{ budget.housing }}</output>€
    </div>

    <h3>Mandatory bills</h3>
    <p class="lead">Electricity bills, water bills, telephone bills and so on. If the billing
      interval is less than a month, then change the amount to the monthly cost by dividing the
      normal invoice amount by the billing interval,
      ie if the water bill is billed every 6 months, divide the expected amount by 6.</p>
    <div class="form-group">
      <input type="range"  [(ngModel)]="budget.mandatory" class="form-control-range slider" min="1" max="5000" value="50" id="mandatoryinput"
        oninput="mandatoryoutput.value = mandatoryinput.value">
      <output id="mandatoryoutput">{{ budget.mandatory }}</output>€
    </div>

    <h3>Loans and installments</h3>
    <p class="lead">The total monthly amount of all loans, installments and similar expenses.</p>
    <div class="form-group">
      <input type="range"  [(ngModel)]="budget.loans" class="form-control-range slider" min="1" max="5000" value="50" id="loansinput"
        oninput="loansoutput.value = loansinput.value">
      <output id="loansoutput">{{ budget.loans }}</output>€
    </div>

    <h3>Travel expenses in a month</h3>
    <p class="lead">Fuel, buss tickets, travel cards and so on.</p>
    <div class="form-group">
      <input type="range" [(ngModel)]="budget.travel" class="form-control-range slider" min="1" max="5000" value="50" id="travelinput"
        oninput="traveloutput.value = travelinput.value">
      <output id="traveloutput">{{ budget.travel }}</output>€
    </div>

    <h3>Clothing</h3>
    <p class="lead">Average amount of clothing and accessories per budget.</p>
    <div class="form-group">
      <input type="range" [(ngModel)]="budget.clothing" class="form-control-range slider" min="1" max="5000" value="50" id="clothinginput"
        oninput="clothingoutput.value = clothinginput.value">
      <output id="clothingoutput">{{ budget.clothing }}</output>€
    </div>

    <h3>Insurances</h3>
    <p class="lead">If the billing interval is less than a month, divide the amount by the billing
      interval, that is, for example, once a year for billable insurance with 12.</p>
    <div class="form-group">
      <input type="range" [(ngModel)]="budget.insurance" class="form-control-range slider" min="1" max="5000" value="50" id="insuranceinput"
        oninput="insuranceoutput.value = insuranceinput.value">
      <output id="insuranceoutput">{{ budget.insurance }}</output>€
    </div>

    <h3>Monthly payment programs and services</h3>
    <p class="lead">For example, Spotify, Netflix and so on. If you pay for a service less than
      once a month, divide the amount by the billing interval, that is, for example, for an annual
      fee program of 12.</p>
    <div class="form-group">
      <input type="range" [(ngModel)]="budget.neflix" class="form-control-range slider" min="1" max="5000" value="50" id="netflixinput"
        oninput="netflixoutput.value = netflixinput.value">
      <output id="netflixoutput">{{ budget.netflix }}</output>€
    </div>

    <h3>Hobby expenses per month</h3>
    <p class="lead">For example, the price of a gym card per budget. If certain types of hobby
      expenses occur less than once a month, then divide the amount by the monthly interval,
      ie for the one-time hobby fee and divide the amount by 12.</p>
    <div class="form-group">
      <input type="range" [(ngModel)]="budget.hobby" class="form-control-range slider" min="1" max="5000" value="50" id="hobbyinput"
        oninput="hobbyoutput.value = hobbyinput.value">
      <output id="hobbyoutput">{{ budget.hobby }}</output>€
    </div>

    <h3>Other expenses per month</h3>
    <p class="lead">Add those expenses to this section you can't place anywhere else. For example,
      toiletries, tobacco products and so on. If certain expenses are incurred less than once
      a month, divide the amount by the monthly interval, ie if you pay for a program once a year,
      then divide the amount by 12.</p>
    <div class="form-group">
      <input type="range" [(ngModel)]="budget.other" class="form-control-range slider" min="1" max="5000" value="50" id="otherinput"
        oninput="otheroutput.value = otherinput.value">
      <output id="otheroutput">{{ budget.other }}</output>€
    </div>

    <h3>Income per month</h3>
    <p class="lead">Total income remaining after taxes and other possible deductions 
      (eg withdrawal). Salaries, benefits, subsidies, weekly wages, etc.</p>
    <div class="form-group">
      <input type="range" [(ngModel)]="budget.income" class="form-control-range slider" min="1" max="5000" value="50" id="incomeinput"
        oninput="incomeoutput.value = incomeinput.value">
      <output id="incomeoutput">{{ budget.income }}</output>€
    </div>

    <button (click)="save()" type="button" class="btn btn-primary">Save</button>
    <br><br>

  </main>
</div>